/* responsive */
/* >lap */
@media screen and (min-width: 1200px) {
}
/* lap */
@media screen and (max-width: 1200px) {
}
/* tap */
@media screen and (max-width: 992px) {
}
/* mobile */
@media screen and (max-width: 576px) {
  .content_login {
    grid-template-columns: 1fr !important;
    padding: 20px !important;
  }
  .content_login .col_right{
    padding-right: 20px ;
  }
}
